/*@import url('https://fonts.googleapis.com/css?family=Pacifico');*/

h1 {
    font-family: 'Pacifico', cursive, 'Arial';
    color: red;
}
p, ul, label, figcaption{
    font-family: 'quicksand', sans-serif, 'Arial';
}
img {
    max-width: 150px;
    max-height: 150px;
}

.img-preview {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.preview {
    background-color: #dddddd;
    padding: 10px;
}
.thumbnail {
    margin: 20px 3px;
}
.title {
    margin: 10px 0;
}
i.fa.fa-trash {
    color: red;
}
a.remove {
    cursor: pointer;
}
